#define WIN32_LEAN_AND_MEAN
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

410                     BITMAP                  "data/410.bmp"
411                     BITMAP                  "data/411.bmp"
420                     BITMAP                  "data/420.bmp"
430                     BITMAP                  "data/430.bmp"
431                     BITMAP                  "data/431.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
100                     ICON                    "data/1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// WAVE
//

432                     WAVE                    "data/432.wav"
433                     WAVE                    "data/433.wav"
434                     WAVE                    "data/434.wav"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

500 MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New\tF2",                    510
        MENUITEM SEPARATOR
        MENUITEM "&Beginner",                   521
        MENUITEM "&Intermediate",               522
        MENUITEM "&Expert",                     523
        MENUITEM "&Custom...",                  524
        MENUITEM SEPARATOR
        MENUITEM "&Sound",                      526
	POPUP "&Theme"
	BEGIN
	    MENUITEM "Windows 9x",              527
	    MENUITEM "Windows 2000/XP",         528
	END
	MENUITEM "S&olver",                     529
	MENUITEM "Ti&mer",                      530
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                       512
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Accelerators
//

501 ACCELERATORS
{
	VK_F2, 510, VIRTKEY
}

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

80 DIALOG 0, 0, 130, 85
STYLE DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Custom Field"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 20, 40, 16
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 46, 40, 16
   CONTROL "&Height:", 112, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 22, 25, 10
   CONTROL "", 141, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 20, 25, 12
   CONTROL "&Width:", 113, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 37, 25, 10
   CONTROL "", 142, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 35, 25, 12
   CONTROL "&Mines:", 111, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 52, 25, 10
   CONTROL "", 143, EDIT, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 50, 25, 12
}
